<div class="row">
  <div class="col-md-3 d-flex flex-column justify-content-between">
    <div><span>Классы</span></div>
    <div class="d-flex class-filter">
      <mat-form-field>
        <input matInput placeholder="С" [(ngModel)]="classFrom">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="По" [(ngModel)]="classTo">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Буква" [(ngModel)]="classCharacter">
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-3 d-flex flex-column justify-content-between">
    <mat-checkbox [(ngModel)]="isSport">Спортивная</mat-checkbox>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Секция" aria-label="Number" matInput
             [formControl]="section" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="col-md-3 d-flex flex-column">
    <button (click)="filter()" mat-raised-button color="primary">Фильтровать</button>
    <button class="mt-2" (click)="clearFilters()" mat-raised-button color="primary">Сбросить</button>
  </div>
  <div class="col-md-3 d-flex flex-column justify-content-between">

  </div>
</div>



