<h1 mat-dialog-title>Добавить секции для {{data.student.firstName}} {{data.student.lastName}}</h1>
<div mat-dialog-content>
  <app-select-sections [student]="data.student"
                       [sectionsSource]="data.sections"
                       (selected)="onSelected($event)"></app-select-sections>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button mat-raised-button color="primary"
          [mat-dialog-close]="sectionsCtrl" cdkFocusInitial>Добавить</button>
</div>
