<button class="f-r" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button (click)="showSelectSectionsForm()" mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Добавить секции</span>
  </button>
  <button (click)="showDeleteSectionsForm()" mat-menu-item>
    <mat-icon>delete_outline</mat-icon>
    <span>Удалить секции</span>
  </button>
  <button (click)="showEditForm()" mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Редактировать</span>
  </button>
  <button (click)="delete(student.id)" mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Удалить</span>
  </button>
</mat-menu>
